/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import "../node_modules/materialize-css/dist/css/materialize.css";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tableCentre {
  margin-top: 3%;
  width: 90%;
  margin-left: 5%;
}
